@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 140 20% 97%;
  --foreground: 140 10% 10%;
  --card: 140 25% 98%;
  --card-foreground: 140 10% 12%;
  --popover: 140 20% 97%;
  --popover-foreground: 140 10% 10%;
  --primary: 142 72% 29%;
  --primary-foreground: 140 10% 98%;
  --secondary: 140 15% 90%;
  --secondary-foreground: 140 10% 10%;
  --muted: 140 10% 92%;
  --muted-foreground: 140 5% 45%;
  --accent: 142 30% 85%;
  --accent-foreground: 140 10% 15%;
  --destructive: 0 84% 60%;
  --destructive-foreground: 140 0% 98%;
  --border: 140 20% 88%;
  --input: 140 20% 85%;
  --ring: 142 72% 29%;
  --radius: 0.5rem;
}

.dark {
  --background: 140 15% 8%;
  --foreground: 140 10% 98%;
  --card: 140 20% 11%;
  --card-foreground: 140 10% 98%;
  --popover: 140 45% 6%;
  --popover-foreground: 140 10% 98%;
  --primary: 142 84% 45%;
  --primary-foreground: 140 10% 98%;
  --secondary: 140 25% 15%;
  --secondary-foreground: 140 10% 98%;
  --muted: 140 20% 15%;
  --muted-foreground: 140 10% 75%;
  --accent: 142 30% 20%;
  --accent-foreground: 140 10% 98%;
  --destructive: 0 84% 60%;
  --destructive-foreground: 140 10% 98%;
  --border: 140 25% 18%;
  --input: 140 25% 18%;
  --ring: 142 84% 45%;
  --radius: 0.5rem;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .bg-grid-black {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cpath fill='none' stroke='%23000' stroke-opacity='0.2' d='M0 .5H31.5V32'/%3E%3C/svg%3E");
  }

  .bg-grid-white {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cpath fill='none' stroke='%23FFF' stroke-opacity='0.2' d='M0 .5H31.5V32'/%3E%3C/svg%3E");
  }
}
